@{
    ViewData["Title"] = "My Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Work</h1>

<div class="row">
    <div class="col-md-3">
    <img src="/Img/Chair.jpg" alt="Chair" style="max-width: 100%; height: auto;" />
    <div class="caption">Antique Restored Chair</div>
    <p>Handcrafted from rich, solid wood, its intricate details and delicate carvings showcase the artistry. 
        The chair's graceful curves and sturdy construction exude both charm and durability, making it a perfect addition to any vintage-inspired decor.</p>
    </div>
    <div class="col-md-3">
    <img src="/Img/Lofted chair.jpg" alt="LoftedChair" style="max-width: 100%; height: auto;" />
    <div class="caption">Lofted Chair</div>
    <p>Handcrafted loft chair made from stained oak wood. Perfect for outdoor conditions, a center peice for your lounging area</p>
    </div>
    <div class="col-md-3">
    <img src="/Img/Rustic.jpg" alt="Rustic" style="max-width: 100%; height: auto;" />
    <div class="caption">Atrisan Wooden Table</div>
    <p>Add a touch of rustic charm to your living room with this wooden coffee table.</p>
    </div>
    <div class="col-md-3">
    <img src="/Img/Table.jpg" alt="Table" style="max-width: 100%; height: auto;" />
    <div class="caption">Long Dining Table</div>
    <p>Crafted from solid wood, this classic dining table exudes warmth and elegance. 
        Its timeless design features clean lines and a rich, natural finish, making it a versatile choice for any dining room. </p>
    </div>
    <partial>Heath Coetsee St10304272</partial>
</div>