@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Khumalo Craft Contact list</p>
    <p>Email- KhumaloCraft@info.com</p>
        <p>Contact Number- 888 888 8888</p>
            <p>Heath Coetsee St10304272</p>
