@model MyWebApplication2.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model?.Message</h2>
<h3 class="text-danger">Request ID: @Model?.RequestId</h3>
@if (Model?.ShowRequestId == true)
{
    <p>
        <code>@Model.RequestId</code>
    </p>
}
