@model MyWebApplication2.Models.Table_1
@{
    ViewData["Title"] = "About";
}




 
 <html>
<head>
    <title>About Page</title>
    <style>
        img {
            width: 100%;
            max-width: 500px; 
            height: auto; 
            display: block; 
            margin: 0 auto; 
        }
    </style>
</head>
<body>
    <form action= "About" method="post">

    <p>Please enter your first name and surname <p>
        <input type ="text" name ="Name" placeholder action="" required >
        <input type ="text" name ="Surname" placeholder action="" required >
        <input type ="text" name ="Email" placeholder action="" required >

        <button type="Submit"> Submit</button>
        </form>
</body>
<partial>Heath Coetsee St10304272</partial>
</html>